<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>identifiant</mat-label>
      <input matInput formControlName="id" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="cardName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="cardType">
        <mat-option *ngFor="let class of cardTypes" [value]="class">
          {{class}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="cardDescription" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Utilisateur</mat-label>
      <mat-select formControlName="utilisateur">
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="cardForm.get('utilisateur')?.invalid">Veuillez sélectionner un utilisateur.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>card url</mat-label>
      <input matInput  formControlName="cardUrl" [(ngModel)]="imageUrl"/>
    </mat-form-field>

    <div *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Card Image" class="taille-image">
    </div>

  </div>


  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Annuler</button>
    <button mat-raised-button type="submit" cdkFocusInitial color="warn" [disabled]="!cardForm.valid || !cardForm.dirty">{{submitBtnName}}</button>
  </mat-dialog-actions>
</form>
